<p><%= @user.email %><br />
  account created <%= distance_of_time_in_words(@user.confirmed_at, Time.now) %> ago<br />
  last sign in on: <%= @user.last_sign_in_at.to_formatted_s(:db) %>
</p>
<div>
  <%= render partial: 'items/item'%>
</div>
<div>
  <%= render partial: 'items/form' %>
</div>