<div>
  <h4><u>To-do items on your list:</u></h4>
  <% @items.each do |i| %>
    <%= content_tag :p, id: "item-#{i.id}" do %>
    <%= i.name %> 
      <%= link_to "", [i.user, i], method: :delete, class: 'fa fa-check-square-o', remote: true %>
      <small>&nbsp;&nbsp;&nbsp;&nbsp;(created <%= time_ago_in_words(i.created_at)%> ago) - <%= i.days_left %> </small>
    <% end %>
  <% end %>
</div>
