<!DOCTYPE html>
<html>
  <head>
    <title>Tudu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container tudu">
      
      <div class="row navdiv">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <ul class="nav nav-tabs navtab">
            <li>          
              <%= link_to root_path do %>
                <i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;Tudu
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li>
                <%= link_to current_user do %>
                  <i class="fa fa-star-o"></i>&nbsp;&nbsp;My Information
                <% end %>
              </li>
            <% end %>  
            <li>
              <%= link_to welcome_contact_path do %>
                <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Contact
              <% end %>
            </li>
            <div class="pull-right user-info">
            <% if user_signed_in? %>
              <span class="twitter-blue"><%= current_user.email %></span> |
              <%= link_to edit_user_registration_path do %>
	              <i class="fa fa-user-o"></i>&nbsp;&nbsp;Edit profile
              <% end %> - 
              <%= link_to destroy_user_session_path, method: :delete do %>
	              <i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out
              <% end %>
            <% else %>
              <%= link_to new_user_registration_path do %>
    	          <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Sign Up
              <% end %> -
              <%= link_to new_user_session_path do %>
    	          <i class="fa fa-sign-in"></i>&nbsp;&nbsp;Sign In
              <% end %>
            <% end %>
            </div>
          </ul>
        </div>
        <div class="col-md-1"></div>
      </div>
      
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <% if flash[:notice] %>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:notice] %>
            </div>
          <% elsif flash[:alert] %>
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:alert] %>
            </div>
          <% end %>
        </div>
        <div class="col-md-3"></div>
      </div>
      
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <%= yield %>
        </div>
        <div class="col-md-3"></div>
      </div>  
      
    </div>
  </body>
</html>
